﻿
    <footer class="container-fluid navbar-fixed-bottom text-center">
        <div class="row" style="background-color: #FFF;border-top:1px solid #999;"><div class="col-sm-offset-4 col-sm-4"><h4>&copy; @DateTime.Now.Year - Companies project</h4></div></div>
    </footer>
