﻿<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Companies", "Index", "Organization")</li>
                <li>@Html.ActionLink("Employees", "Index", "User")</li>
                <li>@Html.ActionLink("Competence", "Index", "Competence")</li>
                <li>@Html.ActionLink("Evaluation", "Index", "CompetenceEvaluation")</li>
                <li>@Html.ActionLink("Office", "Index", "Office")</li>
            </ul>
        </div>
    </div>
</div>


