﻿@model Companies.ViewModels.OrganizationsViewModel

@{
    ViewBag.Title = "Delete company";
}

<div class="container">



    @*For spacing*@
    <div class="row">
        <div class="col-sm-12" style="height:50px;"></div>
    </div>



    <div class="row text-center">

        <div class="col-sm-12">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h2>Delete</h2>

                    <h3>Are you sure you want to delete this company?</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-responsive table-hover">
                        <thead>
                            <tr class="danger">
                                <th class="text-center">Name</th>
                                <th class="text-center">Description</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Parent company</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="danger">
                                <td>@Html.ActionLink(Model.Name, "Details", "Competence", new { id = Model.Id }, null)</td>
                                <td>@Model.Description</td>
                                <td>@Model.Status</td>
                                <td>@Model.ParentCompanyName</td>
                            </tr>
                    </table>



                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input name="submit" type="submit" value="Delete" class="btn btn-danger" />
                            <input name="submit" type="submit" value="Back" class="btn btn-default" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
