﻿@model Companies.ViewModels.OrganizationsViewModel

@{
    ViewBag.Title = "Company details";
}


<div class="container content">


    @*For spacing*@
    <div class="row">
        <div class="col-sm-12" style="height:50px;"></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-4">
                                <h1>Company</h1>
                                <h5>Created date: @Model.CreatedDate</h5>
                                <div class="panel panel-default">
                                    <div class="panel-body">






                                        @using (Html.BeginForm())
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            @Html.HiddenFor(model => model.Id)
                                            @Html.HiddenFor(model => model.Status)
                                            @Html.HiddenFor(model => model.CreatedDate)

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Name, "Name:", htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                            </div>


                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Description, "Description:", htmlAttributes: new { @class = "control-label col-md-2" })
                                                @Html.TextArea("Description", Model.Description, new { rows = 7, @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <p><h4>Status:</h4> @Model.Status</p>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.ParentId, "Parent company:", htmlAttributes: new { style = "width:auto", @class = "control-label col-md-2" })
                                                        @Html.DropDownListFor(model => model.ParentId, (System.Collections.Generic.IEnumerable<System.Web.Mvc.SelectListItem>)ViewData["OrganizationsList"], "", new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(model => model.ParentId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <input name="submit" type="submit" value="Save" class="btn btn-success" />
                                                    <input name="submit" type="submit" value="Delete" class="btn btn-danger" />
                                                    <input name="submit" type="submit" value="Back" class="btn btn-default" />
                                                </div>
                                            </div>
                                        }










                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h2>Company competencies</h2>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-bordered table-responsive table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Competence</th>
                                                    <th class="text-center">Description</th>
                                                    <th class="text-center">Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var competence in Model.Competencies)
                                                {
                                                    <tr>
                                                        <td class="text-center">@Html.ActionLink(competence.Name, "Details", "Competence", new { id = competence.Id }, null)</td>
                                                        <td class="text-center">@competence.Description</td>
                                                        <td class="text-center">@competence.Status</td>
                                                    </tr>
                                                }
                                        </table>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h2>Company employees</h2>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-bordered table-responsive table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">User</th>
                                                    <th class="text-center">Office</th>
                                                    <th class="text-center">Competence</th>
                                                    <th class="text-center">Last evaluation</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var user in Model.Users.Select((value, i) => new { i, value }))
                                                {
                                                    <tr>
                                                        <td class="text-center">@Html.ActionLink(user.value.Name, "Details", "User", new { id = user.value.Id }, null)</td>
                                                        <td class="text-center">@user.value.OfficeName</td>
                                                        <td class="text-center">@user.value.CompetenceName</td>
                                                        <td class="text-center">@{var echo = ((List<string>)ViewData["LastEvaluation"])[user.i];} @echo</td>
                                                    </tr>
                                                }
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-sm12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h2>Company offices</h2>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-bordered table-responsive table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">Name</th>
                                                    <th class="text-center">Description</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var office in Model.Offices)
                                                {
                                                    <tr>
                                                        <td class="text-center">@office.Name</td>
                                                        <td class="text-center">@office.Description</td>
                                                    </tr>
                                                            }
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>








                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
