﻿@model List<Companies.ViewModels.OrganizationsViewModel>

@{
    ViewBag.Title = "Companies";
}


<div class="container content">


    @*For spacing*@
    <div class="row">
        <div class="col-sm-12" style="height:50px;"></div>
    </div>

    <div class="row">
        <div class="col-sm-6 text-left">
            <h1>Companies</h1>
        </div>
        <div class="col-sm-6 text-right">
            @using (Html.BeginForm("Create", "Organization", FormMethod.Get))
            {
                <button type="submit" class="btn btn-default" style="margin-top:27px">Add new</button>
            }
        </div>
    </div>

    @*For spacing*@
    <div class="row">
        <div class="col-sm-12" style="height:50px;"></div>
    </div>



    <div class="row text-center">
        <table class="table table-bordered table-responsive table-hover">
            <thead>
                <tr>
                    <th class="text-center">Company</th>
                    <th class="text-center">Employees count</th>
                    <th class="text-center">Competencies count</th>
                    <th class="text-center">Offices count</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var organization in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(organization.Name, "Details", "Organization", new { id = organization.Id }, null)</td>
                        <td>@organization.EmployeesCount</td>
                        <td>@organization.CompetenciesCount</td>
                        <td>@organization.OfficesCount</td>
                    </tr>
                }
                </tbody>
        </table>
    </div>
</div>