﻿@model Companies.ViewModels.CompetenciesViewModel

@{
    ViewBag.Title = "Competence details";
}

<div class="container">
    @*For spacing*@
    <div class="row">
        <div class="col-sm-12" style="height:50px;"></div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Competence - @Model.Name</h2>
                </div>


                @using (Html.BeginForm())
                {
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.Status)

                    <div class="panel-body">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)

                        <div class="well">
                            <div class="form-group">
                                @Html.LabelFor(model => model.OrganizationId, "Organization", htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.DropDownList("OrganizationId", (System.Collections.Generic.IEnumerable<System.Web.Mvc.SelectListItem>)ViewData["OrganizationsList"], htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, "Name:", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, "Description:", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.TextArea("Description", Model.Description, new { rows = 7, @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>


                    </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-sm--2 col-sm-offset-2">
                                    <input name="submit" type="submit" value="Save" class="btn btn-success" />
                                    <input name="submit" type="submit" value="Back" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                }

            </div>
        </div>
    </div>
</div>
