﻿@model List<Companies.ViewModels.CompetenciesViewModel>


@{
    ViewBag.Title = "Competencies";
}


<div class="container content">


    @*For spacing*@
    <div class="row">
        <div class="col-sm-12" style="height:50px;"></div>
    </div>

    <div class="row">
        <div class="col-sm-6 text-left">
            <h1>Competencies</h1>
        </div>
        <div class="col-sm-6 text-right">
            @using (Html.BeginForm("Create", "Competence", FormMethod.Get))
            {
                <button type="submit" class="btn btn-default" style="margin-top:27px">Add new</button>
            }
        </div>
    </div>

    @*For spacing*@
    <div class="row">
        <div class="col-sm-12" style="height:50px;"></div>
    </div>





    <div class="row text-center">

        <table class="table table-bordered table-responsive table-hover">
            <thead>
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Organization</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var competence in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(competence.Name, "Details", "Competence", new { id = competence.Id }, null)</td>
                        <td>@competence.Description</td>
                        <td>@competence.Status</td>
                        <td>@competence.OrganizationName</td>
                    </tr>
                }
            </tbody>
        </table>



    </div>

</div>





