﻿@model List<Companies.ViewModels.OfficesViewModel>


@{
    ViewBag.Title = "Offices Index";
}


    <div class="container content">


        @*For spacing*@
        <div class="row">
            <div class="col-sm-12" style="height:50px;"></div>
        </div>

        <div class="row">
            <div class="col-sm-6 text-left">
                <h1>Offices</h1>
            </div>
            <div class="col-sm-6 text-right">
                @using (Html.BeginForm("Create", "Office", FormMethod.Get))
                {
                    <button type="submit" class="btn btn-default" style="margin-top:27px">Add new</button>
                }
            </div>
        </div>

        @*For spacing*@
        <div class="row">
            <div class="col-sm-12" style="height:50px;"></div>
        </div>





        <div class="row text-center">

            <table class="table table-bordered table-responsive table-hover">
                <thead>
                    <tr>
                        <th class="text-center">Name</th>
                        <th class="text-center">Description</th>
                        <th class="text-center">Organizationa name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var office in Model)
                    {
                        <tr>
                            <td class="text-center">@office.Name</td>
                            <td class="text-center">@office.Description</td>
                            <td class="text-center">@office.OrganizationName</td>
                        </tr>
                    }
                </tbody>
            </table>



        </div>

    </div>
