﻿@model Companies.ViewModels.CompetenciesEvaluationsViewModel
@{
    ViewBag.Title = "New evaluation";
}

<div class="container" ng-app="myApp" ng-controller="MainController" id="angApp">



    @*For spacing*@
    <div class="row">
        <div class="col-sm-12" style="height:50px;"></div>
    </div>


    <div class="row">
        <div class="col-sm-12">
                @using (Html.BeginForm())
            {
                    @Html.AntiForgeryToken()
                    <input id="CompetenceId" name="CompetenceId" type="hidden" ng-model="valCompetenceId">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Add competence evaluation (Only employees who have competence can evaluate it)</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <h4>Competence</h4>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="well">
                                    <div class="form-group">
                                        @*<label class="control-label col-md-2" for="OrganizationId">Organization:</label>*@
                                        @Html.LabelFor(model => model.OrganizationId, "Organization", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(model => model.OrganizationId, (System.Collections.Generic.IEnumerable<System.Web.Mvc.SelectListItem>)ViewData["OrganizationList"], "", new { @class = "form-control", @id = "organizationSelect" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2" for="UserId">Employee:</label>
                                    <div class="col-md-10">
                                        <select class="form-control" id="UserId" ng-disabled="userDis" name="UserId" ng-options="user as user.Name for user in usersArray track by user.Id" ng-model="userSelected">
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="Competenc">Competence name:</label>
                                    <input class="form-control text-box single-line" id="Competenc" name="Competenc" type="text" ng-disabled="competenceDis" ng-model="competence">
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2" for="Evaluation">Evaluation:</label>
                                    <input class="form-control text-box single-line" id="Evaluation" name="Evaluation" type="text" ng-disabled="evalDis" ng-model="eval">
                                </div>



                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <input name="submit" type="submit" value="Add" class="btn btn-success" />
                                        <input name="submit" type="submit" value="Back" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
    </div>
</div>




@section scripts {
    <!--Script references. -->
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <!--SignalR script to update the page.-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.js"></script>
    <script src="~/Scripts/myApp.js"></script>
    <script src="~/Scripts/Filter.js"></script>
}
