﻿@model List<Companies.ViewModels.CompetenciesEvaluationsViewModel>


    <div class="container content">


        @*For spacing*@
        <div class="row">
            <div class="col-sm-12" style="height:50px;"></div>
        </div>

        <div class="row">
            <div class="col-sm-6 text-left">
                <h1>Evaluations</h1>
            </div>
            <div class="col-sm-6 text-right">
                @using (Html.BeginForm("Create", "CompetenceEvaluation", FormMethod.Get))
            {
                    <button type="submit" class="btn btn-default" style="margin-top:27px">Add evaluation</button>
                }
            </div>
        </div>

        @*For spacing*@
        <div class="row">
            <div class="col-sm-12" style="height:50px;"></div>
        </div>





        <div class="row text-center">

            <table class="table table-bordered table-responsive table-hover">
                <thead>
                    <tr>
                        <th class="text-center">Employee</th>
                        <th class="text-center">Competence name</th>
                        <th class="text-center">Competence evaluation</th>
                        <th class="text-center">Created date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var competenceEvaluation in Model)
                    {
                        <tr>
                            <td>@competenceEvaluation.UserFullName</td>
                            <td>@competenceEvaluation.CompetenceName</td>
                            <td>@competenceEvaluation.Evaluation</td>
                            <td>@competenceEvaluation.CreatedDate</td>
                        </tr>
                    }
                </tbody>
            </table>



        </div>

    </div>
















    @*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Competence.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evaluation)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Competence.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Evaluation)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>*@