﻿@model Companies.ViewModels.UsersViewModel




@{
    ViewBag.Title = "New employee";
}

    @*For spacing*@
    <div class="row">
        <div class="col-sm-12" style="height:50px;"></div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10">

                @using (Html.BeginForm())
            {
                    @Html.AntiForgeryToken()
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2>Add new employee</h2>
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <h4>Employee</h4>
                                <hr />

                                <div class="well">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.OrganizationId, "Organization", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownList("OrganizationId", (System.Collections.Generic.IEnumerable<System.Web.Mvc.SelectListItem>)ViewData["OrganizationsList"], htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                    </div>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.LastName, "Last name", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.PhoneNumber, "Phone number", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                @*@{
                                    Companies.Database.Repository.UserRepository UserRep = new Companies.Database.Repository.UserRepository();
                                    user.Organization = UserRep.Organizations.Find(user.OrganizationId);
                                }*@

                                @*<div class="form-group">
                                        @Html.LabelFor(model => model.CompetenceId, "Competence", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.CompetenceId, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.CompetenceId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.OfficeId, "OfficeId", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownList("OfficeId", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.OfficeId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>*@
                            </div>
                        </div>

                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-sm-3 col-sm-offset-2" style="display:inline;">
                                    <input name="submit" type="submit" value="Add" class="btn btn-success" />
                                    <input name="submit" type="submit" value="Cancel" class="btn btn-danger" />
                                </div>
                            </div>
                        </div>
                    </div>
                                    }

            </div>
        </div>
    </div>

