﻿@model Companies.ViewModels.UsersViewModel

@{
    ViewBag.Title = "Employee details";
}


    <div class="container">
        @*For spacing*@
        <div class="row">
            <div class="col-sm-12" style="height:50px;"></div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>Employee - @Model.Name @Model.LastName</h2>
                    </div>


                    @using (Html.BeginForm())
                    {
                        <div class="panel-body">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.RegistrationDate)


                            <div class="well">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.OrganizationId, "Organization", htmlAttributes: new { @class = "control-label col-md-2" })
                                    @Html.DropDownList("OrganizationId", (System.Collections.Generic.IEnumerable<System.Web.Mvc.SelectListItem>)ViewData["OrganizationsList"], htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.OrganizationId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, "Name:", htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.LastName, "Last name:", htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, "Email:", htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PhoneNumber, "Phone number:", htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.OfficeId, "Office:", htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.DropDownListFor(model => model.OfficeId, (System.Collections.Generic.IEnumerable<System.Web.Mvc.SelectListItem>)ViewData["OfficesList"], "", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.OfficeId, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @{Companies.Database.Repository.CompetenceRepository Competencies = new Companies.Database.Repository.CompetenceRepository();}
                                @Html.LabelFor(model => model.CompetenceId, "Competence:", htmlAttributes: new { @class = "control-label col-md-2" })
                                @Html.DropDownListFor(model => model.CompetenceId, (System.Collections.Generic.IEnumerable<System.Web.Mvc.SelectListItem>)ViewData["CompetenciesList"], "", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CompetenceId, "", new { @class = "text-danger" })
                            </div>


                            <h3>Last evaluation - @ViewData["LastEvaluation"]</h3>


                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-sm-3 col-sm-offset-2">
                                    <input name="submit" type="submit" value="Save" class="btn btn-success" />
                                    <input name="submit" type="submit" value="Back" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                                }

                </div>
            </div>
        </div>
    </div>
