﻿@model List<Companies.ViewModels.UsersViewModel>

@{
    ViewBag.Title = "Employees";
}


    <div class="container content">


        @*For spacing*@
        <div class="row">
            <div class="col-sm-12" style="height:50px;"></div>
        </div>

        <div class="row">
            <div class="col-sm-6 text-left">
                <h1>Employees</h1>
            </div>
            <div class="col-sm-6 text-right">
                @using (Html.BeginForm("Create", "User", FormMethod.Get))
            {
                    <button type="submit" class="btn btn-default" style="margin-top:27px">Add new</button>
                }
            </div>
        </div>

        @*For spacing*@
        <div class="row">
            <div class="col-sm-12" style="height:50px;"></div>
        </div>



        <div class="row text-center">
            <table class="table table-bordered table-responsive table-hover">
                <thead>
                    <tr>
                        <th class="text-center">Employee</th>
                        <th class="text-center">Office</th>
                        <th class="text-center">Competence</th>
                        <th class="text-center">Last evaluation</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@Html.ActionLink(user.Name, "Details", "User", new { id = user.Id }, null)</td>
                            <td>@user.OfficeName</td>
                            <td>@user.CompetenceName</td>
                            <td>@user.LastEvaluation</td>

                        </tr>
                                    }
                </tbody>
            </table>
        </div>
    </div>





    @*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Office.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organization.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompetenceId)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Office.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organization.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompetenceId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>*@
